<table width="100%" cellspacing="0" cellpadding="0" bgcolor="#0b0b0e">
    <tr>
      <td align="center" valign="top">
        <table width="600" cellspacing="0" cellpadding="0" bgcolor="#0b0b0e" style="border: 1px solid #aaa; border-radius: 10px; margin: 10px; padding: 20px 0;">
          <tr>
            <td align="center" valign="top" style="padding: 0 20px; height: 113px;">
              <img src="https://genarogg.github.io/email-html/vr/media/vr-logotipo.png" alt="Logo VueltaRapida" style="width: 100%; max-width: 380px"/>
            </td>
          </tr>
          <tr>
            <td align="center" valign="top" style="padding: 0 20px">
              <h1 style="color: #ccc">Recuperaci칩n de Contrase침a</h1>
              <p style="color: #ccc">
                Hola , Has solicitado restablecer tu contrase침a.
              </p>
              <p style="color: #ccc">
                Haz clic en el siguiente bot칩n para continuar:
              </p>
              <a href="" style="display: inline-block;